@import '_vars';
@import 'modules/_header';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_lightbox';

body {
    color: $main-color;
    background-color: $body-bg;
    width: 100%;
    margin: 0;

}

h1, h2, h3 { color: $heading-color }

.panel { min-height: 60vh; }

#sectionThings { background-color: rgb(146, 218, 212);}

/*#to-top { position: fixed; bottom: 10px; right: 10px; display: none; }*/


@import 'modules/_footer'
