@import '_vars';
@import 'modules/_header';
@import 'modules/_navbar';
@import 'modules/_things';
@import 'modules/_lightbox';
@import 'modules/_footer';
@import 'modules/_errors';

body {
    color: $main-color;
    background-color: $body-bg;
    width: 100%;
    margin: 0;

}

h1 { color: $heading-color; font-family: $header-font; font-weight: 400; font-size: 3em;} 
h2, h3 { color: $things-text-color; }

.panel { min-height: 60vh; margin: 0;}


/*#to-top { position: fixed; bottom: 10px; right: 10px; display: none; }*/



