<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/eve2jvr.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Uh oh! Something went wrong</title>
</head>
<body id="errorPage">
    <main class="error-section">
        {{{body}}}
    </main>
    <a href="/">Back Home</a>
</body>
</html>