#mainHeader { 
    background-color: $main-color;
    min-height: 60vh;
}

#illustration { 
    height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    
}

#mainHeader h1 {
    font-size: 3em;
    text-align: center;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    line-height: 1.2em;
    padding: 5%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #illustration { 
        float: left;
        padding-top: 0%;
    }

    #mainHeader h1 {
        line-height: 1.2em;
        font-size: 4em;
        padding: 2%;
    }

    #headerText {
        padding-top: 8%;
        padding-right: 2%;
    }
}