.lightbox { 
    display: none;
    //display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    width: 90%;
    position: fixed;
    top: 0;
    z-index: 5000;
    padding: 5%;

    background-color: rgba(0, 0,0, 0.9);

    .lightboxImg { max-width: 90%; }

    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 2em;
        font-family: sans-serif;
        position: fixed;
        border: thin solid $main-color;
        padding: 2px 14px 5px;
        border-radius: 50%;
        background-color: white;
    }

    h2 {
        color: $main-color;
        font-family: $header-font;
    }

    p {
        color: white;
    }
}

.show-lb { display: flex !important; }

@media screen and (min-width: 900px) {
    .lightbox {
        max-width: 100%;
        .lightboxImg { width: 50%; }
    }
    
}